<div class="welcome-msg">
    <div class="left">
        <img src="/images/wallet-money.svg" alt="wallet money">
    </div>
    <div class="right">
        <h2>Hello <b><%= name %></b></h2>
        <p>Welcome to our <b>mini-loan app</b> !!  </p>
        <p>You can now begin your loan application process. </p>
        <p>Please provide the required details, including the <b>amount</b>  and <b>loan term</b> to get started. </p>
        <p>Once your loan is approved, you can easily submit your weekly loan repayments. </p>
        <p>Our repayment process is simple &dash; you decide the weekly amount you'd like to repay, and we'll take care of the rest. </p>
    </div>
</div>