.auth-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;

    .left-side{
        width: 60%;
        background: url('/images/sign-in-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #dfdfdf;
      
        /* text-align: center; */
        padding: 8%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title{
            margin: 1em 0;
            h1{
                font-size: 3rem;
                
            }
        }
        p{
            // color: darkgray;
            margin: 5px 0;
            font-size: 1.1rem;
        }
    }
    .right-side{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px;
        font-size: 1.2rem;

        a{
            color: inherit;
            text-decoration: none;
        }
        .sign-up-title{
            margin: 2rem 0;
            h2{
                font-size: 2rem;
            }
        }

        form{
           label{
            display: block;

           } 
           input{
            outline: none;
            border-radius: 5px;
            width: 80%;
            max-width: 400px;
            height: 40px;
            font-size: 1.2rem;
            padding: 10px;
           }
           div{
            margin: 1rem 0;
           }

           button{
            outline: none;
            height: 50px;
            width: 180px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1.2rem;
            background-color: black;
            color: #dfdfdf;
            font-weight: 900;
           }
        }


    }

}







